.case, .rond, .croix {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
}
.rond {
    background-image: url("img/carre.png");
    background-repeat: no-repeat;
    background-position: center;
}
.croix {
    background-image: url("img/croix.png");
    background-repeat: no-repeat;
    background-position: center;
}
